body {
  background-color: black;font-family: Georgia, serif;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

h6 {
  color: white;
}

p {
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: gainsboro;
}

a:hover {
  color: royalBlue;
}

a:active {
  color: royalBlue;
}

img {
  max-width: 100%;
  height: auto;
}
