body {
  background-color: black;font-family: Georgia, serif;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: gainsboro;
}

/* mouse over link */
a:hover {
  color: royalBlue;
}

/* selected link */
a:active {
  color: royalBlue;
}
