body {
  background-color: black;font-family: Georgia, serif;
}

a:link {
  color: white;
}

a:visited {
  color: gainsboro;
}

a:hover {
  color: royalBlue;
}

a:active {
  color: royalBlue;
}
